

/*-- Survey Title */
#root__title{
    font-weight: bold;
    font-size: x-large;  
    padding-bottom:5px;
  }
  
  /*-- Survey Description */
  #root__description{
    font-weight: normal;
    font-size: small;
    padding-bottom:10px;
  }
  
  /*-- Form */
  div.jsonschema-to-jsonform-root div.form-group.field.field-string{  
    display: block !important;
    width: 100% !important;
    padding-bottom:10px !important;
  }
  
  /*-- Control */
  div.jsonschema-to-jsonform-root div.control{  
    padding-bottom:10px !important;  
  }   
  div.jsonschema-to-jsonform-root div.control label{  
    padding-bottom:4px !important;  
  } 
  
  /*--Radio Control */
  div.jsonschema-to-jsonform-root div.radio{
    display: block !important;
  }  
  div.jsonschema-to-jsonform-root label.radio-label{
    font-weight:normal;
    padding-left:8px !important;
  }
  div.jsonschema-to-jsonform-root div.radio-option{
    display:flex;
    margin-top:4px;
  }
  
  /*--CheckBox Control */
  div.jsonschema-to-jsonform-root div.checkbox{
    display: block !important;
  }
  
  div.jsonschema-to-jsonform-root div.checkbox input{
    display: inline !important;
  }
  
  div.jsonschema-to-jsonform-root div.checkbox label span span{
    margin-left:8px;  
    font-weight:normal;
    position:relative;
    bottom:14px !important;
  }
  
  
  
  